.idea/
.target/
*.iml
./logs
/target/surefire-reports/2023-05-15T09-10-24_382-jvmRun1.dump
/target/kotlin-ic/compile/classes/no/obos/hi/filetransfers/Application.class
/target/site/jacoco/no.obos.hi.filetransfers/Application.html
/target/site/jacoco/no.obos.hi.filetransfers/Application.kt.html
/target/kotlin-ic/compile/classes/no/obos/hi/filetransfers/ApplicationKt.class
/target/site/jacoco/no.obos.hi.filetransfers/ApplicationKt.html
/target/kotlin-ic/test/classes/no/obos/hi/filetransfers/ApplicationTests.class
/target/site/jacoco/jacoco-resources/branchfc.gif
/target/site/jacoco/jacoco-resources/branchnc.gif
/target/site/jacoco/jacoco-resources/branchpc.gif
/target/kotlin-ic/compile/build-history.bin
/target/kotlin-ic/test/build-history.bin
/target/classes/META-INF/build-info.properties
/target/site/jacoco/jacoco-resources/bundle.gif
/target/site/jacoco/jacoco-resources/class.gif
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/class-attributes.tab
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/class-attributes.tab
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/class-attributes.tab.keystream
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/class-attributes.tab.keystream.len
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/class-attributes.tab.len
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/class-attributes.tab.len
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/class-attributes.tab.values.at
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/class-attributes.tab_i
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/class-attributes.tab_i
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/class-attributes.tab_i.len
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/target/kotlin-ic/compile/caches-jvm/lookups/counters.tab
/target/kotlin-ic/test/caches-jvm/lookups/counters.tab
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/target/site/jacoco/jacoco-resources/down.gif
/onprop/til/backup/ektesaker.txt
/test/in/ektesaker12.txt
/target/kotlin-ic/compile/caches-jvm/lookups/file-to-id.tab
/target/kotlin-ic/test/caches-jvm/lookups/file-to-id.tab
/target/kotlin-ic/compile/caches-jvm/lookups/file-to-id.tab.keystream
/target/kotlin-ic/test/caches-jvm/lookups/file-to-id.tab.keystream
/target/kotlin-ic/compile/caches-jvm/lookups/file-to-id.tab.keystream.len
/target/kotlin-ic/test/caches-jvm/lookups/file-to-id.tab.keystream.len
/target/kotlin-ic/compile/caches-jvm/lookups/file-to-id.tab.len
/target/kotlin-ic/test/caches-jvm/lookups/file-to-id.tab.len
/target/kotlin-ic/compile/caches-jvm/lookups/file-to-id.tab.values.at
/target/kotlin-ic/test/caches-jvm/lookups/file-to-id.tab.values.at
/target/kotlin-ic/compile/caches-jvm/lookups/file-to-id.tab_i
/target/kotlin-ic/test/caches-jvm/lookups/file-to-id.tab_i
/target/kotlin-ic/compile/caches-jvm/lookups/file-to-id.tab_i.len
/target/kotlin-ic/test/caches-jvm/lookups/file-to-id.tab_i.len
/target/classes/no/obos/hi/filetransfers/model/FileDto.class
/target/kotlin-ic/compile/classes/no/obos/hi/filetransfers/model/FileDto.class
/target/site/jacoco/no.obos.hi.filetransfers.model/FileDto.html
/target/site/jacoco/no.obos.hi.filetransfers.model/FileDto.kt.html
/target/site/jacoco/jacoco-resources/greenbar.gif
/target/site/jacoco/jacoco-resources/group.gif
/target/kotlin-ic/compile/classes/META-INF/hi-filetransfers.kotlin_module
/target/kotlin-ic/test/classes/META-INF/hi-filetransfers.kotlin_module
/target/hi-filetransfers-1.0.0-SNAPSHOT.jar
/target/hi-filetransfers-1.0.0-SNAPSHOT.jar.original
/target/kotlin-ic/compile/caches-jvm/lookups/id-to-file.tab
/target/kotlin-ic/test/caches-jvm/lookups/id-to-file.tab
/target/kotlin-ic/compile/caches-jvm/lookups/id-to-file.tab.keystream
/target/kotlin-ic/test/caches-jvm/lookups/id-to-file.tab.keystream
/target/kotlin-ic/compile/caches-jvm/lookups/id-to-file.tab.keystream.len
/target/kotlin-ic/test/caches-jvm/lookups/id-to-file.tab.keystream.len
/target/kotlin-ic/compile/caches-jvm/lookups/id-to-file.tab.len
/target/kotlin-ic/test/caches-jvm/lookups/id-to-file.tab.len
/target/kotlin-ic/compile/caches-jvm/lookups/id-to-file.tab.values.at
/target/kotlin-ic/test/caches-jvm/lookups/id-to-file.tab.values.at
/target/kotlin-ic/compile/caches-jvm/lookups/id-to-file.tab_i
/target/kotlin-ic/compile/caches-jvm/lookups/id-to-file.tab_i.len
/target/site/jacoco/no.obos.hi.filetransfers/index.html
/target/site/jacoco/no.obos.hi.filetransfers.api.controller/index.html
/target/site/jacoco/no.obos.hi.filetransfers.config/index.html
/target/site/jacoco/no.obos.hi.filetransfers.model/index.html
/target/site/jacoco/no.obos.hi.filetransfers.service/index.html
/target/site/jacoco/index.html
/target/site/jacoco/no.obos.hi.filetransfers/index.source.html
/target/site/jacoco/no.obos.hi.filetransfers.api.controller/index.source.html
/target/site/jacoco/no.obos.hi.filetransfers.config/index.source.html
/target/site/jacoco/no.obos.hi.filetransfers.model/index.source.html
/target/site/jacoco/no.obos.hi.filetransfers.service/index.source.html
/onprop/backup/INK837117DOK16681506.PDF
/onprop/til/INK837117DOK16681506.PDF
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/target/site/jacoco/jacoco.csv
/target/jacoco.exec
/target/site/jacoco/jacoco.xml
/target/site/jacoco/jacoco-sessions.html
/target/kotlin-ic/compile/last-build.bin
/target/kotlin-ic/test/last-build.bin
/target/classes/no/obos/hi/filetransfers/config/LocalDirectoryConfig.class
/target/kotlin-ic/compile/classes/no/obos/hi/filetransfers/config/LocalDirectoryConfig.class
/target/site/jacoco/no.obos.hi.filetransfers.config/LocalDirectoryConfig.html
/target/site/jacoco/no.obos.hi.filetransfers.config/LocalDirectoryConfig.kt.html
/target/classes/logback-spring.xml
/target/kotlin-ic/compile/classes/no/obos/hi/filetransfers/config/LoggerConfig.class
/target/site/jacoco/no.obos.hi.filetransfers.config/LoggerConfig.html
/target/site/jacoco/no.obos.hi.filetransfers.config/LoggerConfig.kt.html
/target/kotlin-ic/compile/caches-jvm/lookups/lookups.tab
/target/kotlin-ic/test/caches-jvm/lookups/lookups.tab
/target/kotlin-ic/compile/caches-jvm/lookups/lookups.tab.keystream
/target/kotlin-ic/test/caches-jvm/lookups/lookups.tab.keystream
/target/kotlin-ic/compile/caches-jvm/lookups/lookups.tab.keystream.len
/target/kotlin-ic/test/caches-jvm/lookups/lookups.tab.keystream.len
/target/kotlin-ic/compile/caches-jvm/lookups/lookups.tab.len
/target/kotlin-ic/test/caches-jvm/lookups/lookups.tab.len
/target/kotlin-ic/compile/caches-jvm/lookups/lookups.tab.values.at
/target/kotlin-ic/test/caches-jvm/lookups/lookups.tab.values.at
/target/kotlin-ic/compile/caches-jvm/lookups/lookups.tab_i
/target/kotlin-ic/test/caches-jvm/lookups/lookups.tab_i
/target/kotlin-ic/compile/caches-jvm/lookups/lookups.tab_i.len
/target/kotlin-ic/test/caches-jvm/lookups/lookups.tab_i.len
/target/site/jacoco/jacoco-resources/method.gif
/target/surefire-reports/no.obos.hi.filetransfers.ApplicationTests.txt
/target/site/jacoco/jacoco-resources/package.gif
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/package-parts.tab
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/package-parts.tab.keystream
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/package-parts.tab.keystream.len
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/package-parts.tab.len
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/package-parts.tab.values.at
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/package-parts.tab_i
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/package-parts.tab_i.len
/target/maven-archiver/pom.properties
/target/site/jacoco/jacoco-resources/prettify.css
/target/site/jacoco/jacoco-resources/prettify.js
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/proto.tab
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/proto.tab
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/proto.tab.keystream
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/proto.tab.keystream
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/proto.tab.len
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/proto.tab.len
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/proto.tab.values.at
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/proto.tab.values.at
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/proto.tab_i
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/proto.tab_i
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/proto.tab_i.len
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/proto.tab_i.len
/target/site/jacoco/jacoco-resources/redbar.gif
/target/site/jacoco/jacoco-resources/report.css
/target/site/jacoco/jacoco-resources/report.gif
/target/site/jacoco/jacoco-resources/session.gif
/target/kotlin-ic/compile/classes/no/obos/hi/filetransfers/api/controller/SmbMessagingController.class
/target/site/jacoco/no.obos.hi.filetransfers.api.controller/SmbMessagingController.html
/target/site/jacoco/no.obos.hi.filetransfers.api.controller/SmbMessagingController.kt.html
/target/kotlin-ic/compile/classes/no/obos/hi/filetransfers/service/SmbMessagingGateway.class
/target/kotlin-ic/compile/classes/no/obos/hi/filetransfers/config/SmbMessagingGatewayConfiguration.class
/target/site/jacoco/no.obos.hi.filetransfers.config/SmbMessagingGatewayConfiguration.html
/target/site/jacoco/no.obos.hi.filetransfers.config/SmbMessagingGatewayConfiguration.kt.html
/target/kotlin-ic/compile/classes/no/obos/hi/filetransfers/service/SmbMessagingProcessor$FileUtil.class
/target/site/jacoco/no.obos.hi.filetransfers.service/SmbMessagingProcessor$FileUtil.html
/target/kotlin-ic/compile/classes/no/obos/hi/filetransfers/service/SmbMessagingProcessor.class
/target/site/jacoco/no.obos.hi.filetransfers.service/SmbMessagingProcessor.html
/target/site/jacoco/no.obos.hi.filetransfers.service/SmbMessagingProcessor.kt.html
/target/kotlin-ic/compile/snapshots.bin
/target/kotlin-ic/test/snapshots.bin
/target/site/jacoco/jacoco-resources/sort.gif
/target/site/jacoco/jacoco-resources/sort.js
/target/site/jacoco/jacoco-resources/source.gif
/target/kotlin-ic/compile/caches-jvm/inputs/source-snapshot.tab
/target/kotlin-ic/test/caches-jvm/inputs/source-snapshot.tab
/target/kotlin-ic/compile/caches-jvm/inputs/source-snapshot.tab.keystream
/target/kotlin-ic/test/caches-jvm/inputs/source-snapshot.tab.keystream
/target/kotlin-ic/compile/caches-jvm/inputs/source-snapshot.tab.keystream.len
/target/kotlin-ic/test/caches-jvm/inputs/source-snapshot.tab.keystream.len
/target/kotlin-ic/compile/caches-jvm/inputs/source-snapshot.tab.len
/target/kotlin-ic/test/caches-jvm/inputs/source-snapshot.tab.len
/target/kotlin-ic/compile/caches-jvm/inputs/source-snapshot.tab.values.at
/target/kotlin-ic/test/caches-jvm/inputs/source-snapshot.tab.values.at
/target/kotlin-ic/compile/caches-jvm/inputs/source-snapshot.tab_i
/target/kotlin-ic/test/caches-jvm/inputs/source-snapshot.tab_i
/target/kotlin-ic/compile/caches-jvm/inputs/source-snapshot.tab_i.len
/target/kotlin-ic/test/caches-jvm/inputs/source-snapshot.tab_i.len
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/source-to-classes.tab
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/source-to-classes.tab
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/target/kotlin-ic/test/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/target/kotlin-ic/compile/caches-jvm/inputs/source-to-output.tab
/target/kotlin-ic/test/caches-jvm/inputs/source-to-output.tab
/target/kotlin-ic/compile/caches-jvm/inputs/source-to-output.tab.keystream
/target/kotlin-ic/test/caches-jvm/inputs/source-to-output.tab.keystream
/target/kotlin-ic/compile/caches-jvm/inputs/source-to-output.tab.keystream.len
/target/kotlin-ic/test/caches-jvm/inputs/source-to-output.tab.keystream.len
/target/kotlin-ic/compile/caches-jvm/inputs/source-to-output.tab.len
/target/kotlin-ic/test/caches-jvm/inputs/source-to-output.tab.len
/target/kotlin-ic/compile/caches-jvm/inputs/source-to-output.tab.values.at
/target/kotlin-ic/test/caches-jvm/inputs/source-to-output.tab.values.at
/target/kotlin-ic/compile/caches-jvm/inputs/source-to-output.tab_i
/target/kotlin-ic/test/caches-jvm/inputs/source-to-output.tab_i
/target/kotlin-ic/compile/caches-jvm/inputs/source-to-output.tab_i.len
/target/kotlin-ic/test/caches-jvm/inputs/source-to-output.tab_i.len
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/subtypes.tab
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/subtypes.tab.keystream
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/subtypes.tab.keystream.len
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/subtypes.tab.len
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/subtypes.tab.values.at
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/subtypes.tab_i
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/subtypes.tab_i.len
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/supertypes.tab
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/supertypes.tab.keystream
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/supertypes.tab.keystream.len
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/supertypes.tab.len
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/supertypes.tab.values.at
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/supertypes.tab_i
/target/kotlin-ic/compile/caches-jvm/jvm/kotlin/supertypes.tab_i.len
/test/from/test1.txt
/test/in/test1.txt
/target/surefire-reports/TEST-no.obos.hi.filetransfers.ApplicationTests.xml
/test/from/test_file_202316157558340045260573.txt
/test/in/test_file_202316157558340045260573.txt
/testfile.txt
/onprop/til/tmp.txt
/tmp.txt
/onprop/til/tmp – Kopi.txt
/onprop/til/tmp – Kopi – Kopi.txt
/target/site/jacoco/jacoco-resources/up.gif
